# playing with flet and github actions

name: Playing with Github Actions
on: push

jobs:
  build_apk:
    runs-on: ubuntu-latest
    steps: 
      - uses: actions/checkout@v3
        name: checkout main branch
      - run: echo "Building Apk  using Flutter"
      - run: python3 --version
      - run: pip3 --version
      - run: |
          pip3 install flet
          pip3 install textual
  
  build-ipa:
    runs-on: ubuntu-lastest
    steps:
      - uses: actions/checkout@v3
        name: Build IPA binary for Ios
      - run: |
          echo "Building IPA file's ..."
          echo "Completed IPA Binary... "
  
  upload-artifacts:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        name: Sample
      - run: |
          echo "UPLOADING ARTIFACTS ... "
          touch my_artifact.txt
          echo "hello world to artifact txt " >> my_artifact.txt
    
      - uses: actions/upload-artifact@v4
        name: 'Upload Artifact'
        with:
          name: my-artifact
          path: my_file.txt
          retention-days: 5
